---
name: Schedule - Renovate

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Dry-Run"
        default: false
        required: false
        type: boolean
      autodiscover_filter:
        description: "Autodiscover filter"
        default: "*"
        required: false
      cache:
        description: Use Renovate cache from GitHub repo's cache?
        type: choice
        default: "enabled"
        options:
          - enabled
          - disabled
          - reset
      logLevel:
        description: "Log-Level"
        default: "debug"
        required: false
  # schedule:
  #   - cron: "0 * * * *"

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Renovate Cache
        id: renovate-cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        if: github.event.inputs.cache != 'disabled'
        continue-on-error: true
        with:
          path: /tmp/renovate/cache/renovate/repository
          key: renovate-cache-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            renovate-cache-${{ runner.os }}

      - name: Set cache folder permissions
        shell: bash
        run: |
          # chown /tmp/renovate due to cache permissions
          # UID from https://github.com/renovatebot/renovate/blob/9c999fb13e8746830a0c163bad9c244b0b926c6a/tools/docker/Dockerfile#L114
          mkdir -p /tmp/renovate
          sudo chown -R 12021:$(id -g) /tmp/renovate

      - name: Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'debug' }}
          RENOVATE_DRY_RUN: ${{ inputs.dryRun == true }}
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.repository_owner }}/${{ inputs.autodiscover_filter || '*' }}
          RENOVATE_ONBOARDING_REBASE_CHECKBOX: true
          RENOVATE_PLATFORM: github
          RENOVATE_PLATFORM_COMMIT: true
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.cache }}
        with:
          token: "${{ steps.app-token.outputs.token }}"
